.step {
    display: flex;
    min-height: 1.2em;
    max-height: 1.2em;
    margin: 0.1em;
    overflow: hidden;
    border: 0.0625rem solid #bdbdbd;
}

.step-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.step-status-and-name {
    display: flex;
    flex-direction: row;
}

.rectangle {
    margin-right: 0.4em;
    max-width: 0.4em;
    min-width: 0.4em;
}

.passed {
    flex: 1;
    background: #00CC00;
}

.failed {
    flex: 1;
    background: #CC0000;
}