.info-panel {
    display: flex;
    justify-content: space-between;
    height: 1.7em;
    overflow: hidden;
}

.info-details {
    display: flex;
    justify-content: center;
    color: white;
    background: #00CC00;
    margin-right: 0.3vw;
    margin-top: 0.4em;
}