.feature-name {
    display: flex;
    justify-content: space-between;
    background-color: #6b2490;
    height: 5em;
    padding: 1.5em;
    color: white;
    overflow: hidden;
    cursor: pointer;
}