.feature-header {
    display: flex;
    justify-content: space-between;
    background-color: #020450;
    height: 5em;
    padding: 1.5em;
    color: white;
    overflow: hidden;
}

.feature-name-status-container {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: -0.8em;
    margin-top: -1em;
}

.feature-name {
    font-size: 2em;
    margin-left: 0.3em;
}

.tests-passed {
    color: #00CC00;
}

.tests-failed {
    color: #CC0000;
}