.feature-tile {
    display: flex;
    flex: 0 0 19em;
    width: 10em;
    height: 7em;
    margin: 0.4em;
    overflow: hidden;
    box-shadow: -0.188em 0.188em 0.125em 0 #ccc;
    border: 0.063em solid #bdbdbd;
    cursor: pointer;
}

.feature-tile-content {
    display: flex;
    flex-direction: column;
    flex: 30;
}

.passed {
    flex: 1;
    background: #00CC00;
}

.failed {
    flex: 1;
    background: #CC0000;
}

.feature-tile-upper {
    display: flex;
    flex: 3;
    justify-content: flex-start;
}

.feature-tile-downer {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 0.5em 0.5em 1em;
}

.dashboard-name {
    flex: 1;
    padding: 1em;
    word-break: break-all;
    font-weight: bold;
    margin-top: -0.438em;
}

.number-of-scenarios {
    display: flex;
    flex: 1;
    padding: 0.5em;
}

.duration {
    display: flex;
    flex: 1;
    padding: 0.5em;
}

.label {
    margin-right: 0.2em;
}